// Navigation Styles here
div .bus{
    display: flex;
    border:1px solid red;
    h1{
        text-align: center;
    }
    nav{
        display:flex;
        justify-content: space-evenly;
        width:50%
        
    }
}